  :root {
    --color-amarelo: #ffcb05;
    --color-vermelho: #e73838;
  }

  body {
    background-color: #e2ddd8;
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
  }
  
  header {
    background-color: var(--color-amarelo);
    padding: 20px;
    text-align: center;
    box-shadow: 2px 2px 10px #0000002f;
  }
  
  h1 {
    color: var(--color-vermelho);
    font-size: 36px;
    margin: 0;
  }
  h2 {
    font-size: 24px;
    margin: 10px 0;
  }
  p {
    font-size: 16px;
    margin: 0;
  }
  .subtitle {
    font-size: 18px;
    font-style: italic;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
  }
  
  #pokemon-info {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
  }
  
  h2 {
    color: var(--color-vermelho);
    font-size: 24px;
    margin: 0 0 10px;
  }
  
  img {
    max-width: 200px;
    margin-bottom: 10px;
  }
  
  p {
    margin: 0;
    color: #333;
    font-size:16px;
  }
  
  
  button#btn-random {
    height: 75px;
    width: 175px;
    position: absolute;
    top: 190px;
    left: 45%;
    
    border-radius: 20px;
    background-color: var(--color-amarelo);
    color: var(--color-vermelho);
    font-size: 1.3em;
    transition: 1s;
  }
  button#btn-random:hover {
    cursor: pointer;
    background-color: #ffea95;
    color: #be2d2d;
  }
  

  #pokemon-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  .pokemon {
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .pokemon h2 {
    color: var(--color-vermelho);
    font-size: 24px;
    margin: 0 0 10px;
  }
  
  .pokemon img {
    max-width: 200px;
    margin-bottom: 10px;
  }
  
  .pokemon p {
    margin: 0;
    color: #333;
    font-size: 16px;
  }

 footer {
    height: 50px;
    width: 98.95%;
    padding: 10px;

    background-color: var(--color-amarelo);
    text-align: center;
    font-size: 1em;
    font-weight: lighter;
  }